#title 
	text-align: center
	padding-bottom: 50px

#dungeon-main-component
	text-align: center

#dungeon-map
	display: inline-block
	border: solid
    border-width: thin

#dungeon-map-table
	display: inline
	text-align: center
	white-space: nowrap

.map-row
	display: table-row

.map-cell
	height: 20px
	width: 20px
	display: table-cell
    padding-left: 5px
    padding-right: 5px

.player
 	background-color: blue

.enemy
	background-color: red

.health
	background-color: green

.boss
	background-color: yellow

.hidden
	background-color: grey
